<h2 style="font-family: 'Pacifico', cursive;">Visle</h2>
<div class="section">
	<h5 style="font-weight: 100;">Login to get started</h5>
</div>
<div class="divider"></div>
<br>
<div class="section">
	<a href="/auth/google" class="btn red darken-1">
		<i class="fab fa-google left"></i> Login with Google
	</a>
</div>