body {
	background: url('../background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000000;
	font-family: 'Roboto', sans-serif;
}
.login-container {
	width: 400px;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
p {
	margin: 10px 0 !important;
}
#session-id {
	height: auto;
	width: auto;
	font-weight: 600;
	padding: 5px 10px 5px 10px;
	text-transform: capitalize;
	border-bottom: none !important;
	box-shadow: none !important;
	color: #000000;
	font-size: 25px;
	text-align: center;
}
#join-button {
	height: auto;
	width: auto;
	padding: 10px 50px 10px 50px;
	background-color: #f9f2dd;
	font-weight: 400;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: medium;
}

#error-button {
	height: auto;
	width: auto;
	padding: 10px 50px 10px 50px;
	background-color: #f9f2dd;
	font-weight: 400;
	border: 1px solid #000000;
	border-radius: 5px;
	font-size: medium;
	color: #000000;
}
#profile-body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	padding: 50px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}
#profile-container {
	height: 140px;
	width: 140px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	background: linear-gradient(45deg, rgb(248, 242, 223), rgb(156, 92, 36));
}
#profile-container:hover {
	height: 250px;
	width: 250px;
	border-radius: 5px;
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
#profile-container #profile-wrapper img {
	position: relative;
	z-index: 20;
	border-radius: 50%;
	display: block;
	height: 100px;
	width: 100px;
	border: 5px solid #fff;
	object-fit: cover;
	margin: 20px auto;
	transition: all 0.3s ease;
}
#profile-container:hover #profile-wrapper img.active {
	height: 250px;
	width: 250px;
	margin: 0px auto;
	border: none;
	border-radius: 5px;
}
#profile-wrapper #profile-title {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
	line-height: 5px;
}
#logout-button {
	height: auto;
	width: auto;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	transition: all 0.3s;
	padding: 10px 40px 10px 40px !important;
	color: #000000;
}

#participant-body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	padding: 50px;
	text-align: center;
	position: absolute;
	top: 0px;
	right: 0px;
}
#participant-container {
	height: 140px;
	width: 140px;
	overflow: hidden;
	margin: 0 auto;
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
	background: linear-gradient(45deg, rgb(248, 242, 223), rgb(156, 92, 36));
}
#participant-container:hover {
	height: auto;
	width: 250px;
	border-radius: 5px;
	box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.3);
}
#participant-container #participant-wrapper img {
	position: relative;
	z-index: 20;
	border-radius: 50%;
	display: block;
	height: 100px;
	width: 100px;
	border: 5px solid #fff;
	object-fit: cover;
	margin: 20px auto;
	transition: all 0.3s ease;
}
#participant-container:hover #participant-wrapper img.active {
	height: 250px;
	width: 250px;
	margin: 0px auto;
	border: none;
	border-radius: 5px;
}
#participant-wrapper #participant-title {
	color: #000;
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
	line-height: 5px;
}
#leave-button {
	height: auto;
	width: auto;
	background: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	transition: all 0.3s;
	padding: 10px 40px 10px 40px !important;
	color: #000000;
	margin-bottom: 20px;
}
table,
th,
td {
	border: 1px solid rgb(248, 242, 223);
}

th,
td {
	padding: 5px;
	text-align: center;
}

#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
	width: 300px;
	height: 300px;
}

#images {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
}

#query {
	font-weight: 800;
	font-style: italic;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
}
