<div class="container login-container" style="width: auto;">
	<div align="center">
		<h1>404 Not Found!</h1>
		<h5>The requested resource does not exist</h5>
		<br>
		<a href="/dashboard"><button id="error-button">Return to Safety</button></a>
	</div>
</div>