<div class="container login-container" style="width: auto;">
	<div align="center">
		<h1>Oops!</h1>
		<h5>Something went wrong on our side</h5>
		<br>
		<a href="/dashboard"><button id="error-button">Return to Safety</button></a>
	</div>
</div>