<div class="container login-container" style="width: auto;">
	<div align="center">
		<h1>User Already Joined!</h1>
		<h5>Please exit the already joined session and try again</h5>
		<br>
		<a href="/dashboard"><button id="error-button">Return to Safety</button></a>
	</div>
</div>