<div class="container login-container" style="width: auto;">
	<div align="center">
		<h1>Invalid Session ID!</h1>
		<h5>Please enter a valid Session ID</h5>
		<br>
		<a href="/dashboard"><button id="error-button">Return to Safety</button></a>
	</div>
</div>